{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{#{% block title %}{{ slug }}{% endblock %}#}

{% block stylesheets %}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}

    <hr>

    <hr>
    <div>
     {% for toto in articles |slice(0,2) %}
        <h1>Real article s title : {{ toto.title }}</h1>
        <h2>Category : {{ toto.category.name }}</h2>
        <p>{{ toto.content }}</p>
        </div>
    {% endfor %}


{% endblock %}
