{#{{ dump(list)}}#}
{% extends 'base.html.twig' %}

{% block body %}
{#<h1>Tag: {{ list.owner.name }}</h1>#}
{#{% for toto in list %}#}
  {#<a href="{{ path('article_show', {'id': toto.id}) }}"><h2>Titre: {{ toto.title }}</h2></a>#}
  {#<h2>Titre: {{ toto.title }}</h2></a>#}
  {#<h2>Titre: {{ toto.id }}</h2></a>#}
  {#<p>{{ toto.content }} </p>#}



  <div class="row bg-info m-3 shadow justify-content-center">
    <div class="col-12 text-center jumbotron bg-info">
      <h1 class="display-2">{{ list.owner.name  }}</h1>
    </div>
    <div class="col-4">
      {#<img class="img-fluid rounded m-4 shadow" src={%  if article.picture == true %} "/{{ article.picture }}" {% else %} "https://via.placeholder.com/300" {% endif%} alt="Card image cap">#}
    </div>
    <div class="col-10 m-5">
        {% for toto in list %}
      <a href="{{ path('article_show', {'id': toto.id}) }}"><h3>{{ toto.title }}</h3></a>
      {#<h2>Titre: {{ toto.title }}</h2></a>#}
      {#<h2>Titre: {{ toto.id }}</h2></a>#}
      <p class="p-4 border-warning border-bottom">{{ toto.content }}</p>
        {% endfor %}
    </div>

  </div>
{% endblock %}

  {#<div class="row bg-info m-3 shadow justify-content-center">#}
    {#<div class="col-12 text-center jumbotron bg-info">#}
      {#<h1 class="display-2">{{ article.title }}</h1>#}
    {#</div>#}
    {#<div class="col-4">#}
      {#<img class="img-fluid rounded m-4 shadow" src={%  if article.picture == true %} "/{{ article.picture }}" {% else %} "https://via.placeholder.com/300" {% endif%} alt="Card image cap">#}
    {#</div>#}
    {#<div class="col-7 m-5">#}

      {#<p class="p-3">{{ article.content }}</p>#}
      {#<ul class="list-unstyled">#}
          {#{% for tag in article.tags %}#}
            {#<a href="{{ path('tag_show', {'name': tag.name}) }}"><li>#{{ tag.name }} </li></a>#}
          {#{% else %}#}
            {#<li>No tags for this article</li>#}
          {#{% endfor %}#}
      {#</ul>#}
    {#</div>#}
  {#</div>#}
